<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arif.digitalmarketing">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.aVideoTutorial"
            android:label="Video Tutorials" />
        <activity
            android:name=".activity.aInterView"
            android:label="Interview Questions" />
        <activity
            android:name=".activity.aQZ"
            android:label="Quiz Tests" />
        <activity
            android:name=".activity.aTech"
            android:label="Technical Terms" />
        <activity
            android:name=".activity.aQuesAns"
            android:label="Question and Answer" />
        <activity
            android:name=".activity.aStudyM"
            android:label="Study Material" />
        <activity
            android:name=".activity.aTrainCourse"
            android:label="Training Courses" />
        <activity
            android:name=".activity.aOurService"
            android:label="Our Services" />
        <activity
            android:name=".activity.aContactUs"
            android:label="Contact Us" />
        <activity
            android:name=".activity.aOurTeam"
            android:label="Our Teams"></activity>
    </application>

</manifest>